# Vagrant
.vagrant/
*.box
*.log

# K3d/Kubernetes
kubeconfig
*.yaml.backup
.kube/
.kubeconfig

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Credentials
.env
.env.local
kubeconfig*
argocd-*

# Temporary files
*.tmp
*.temp

.claude/
.claude/settings.local.json
.claude


p1/.vagrant/
p1/*.log

bonus/steps.txt
bonus/.vagrant/
